{% extends 'base.html' %}
{% block title %}
  Home page
{% endblock title %}

{% block sidebar %}
  <aside
  id="sidebar-content"
  class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-[#fdfaf5] border-r border-gray-200 sm:translate-x-0"
  aria-label="Sidebar"
  >
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white">

    <ul class="space-y-2 font-medium">
      <li class="flex justify-between items-center p-2 px-4 rounded-lg bg-[#b7b1f1]">
        <h3 class="text-white">
          ห้องแชทของคุณ
        </h3>
        <a href="{% url 'create_chat_room' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" viewBox="0 0 448 512"><path d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM200 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
        </a>
      </li>

      {% for room in rooms %}
      <li class="flex justify-between">
        <a
          href="{% url 'room' room.id room.room_name user %}"
          class="flex items-center p-2 text-[#575042] rounded-lg hover:bg-gray-100"
        >
          <span class="ms-3">{{ room.room_name }}</span>
        </a>
        <div class="flex items-center p-2">
          <!-- <p class="text-[#575042] test-xs">{{ room.get_status_display }}</p> -->
            {% if room.status == 'A' %}
            <img width="24" height="24" src="https://img.icons8.com/forma-bold-filled/24/40C057/circled.png" alt="circled"/>
            {% elif room.status == 'CH'%}
            <img width="24" height="24" src="https://img.icons8.com/external-claro-amoghdesign/32/external-wine-claro-christmas-claro-amoghdesign.png" alt="external-wine-claro-christmas-claro-amoghdesign"/>
            {% elif room.status == 'D' %}
            <img width="24" height="24" src="https://img.icons8.com/color/48/do-not-disturb.png" alt="do-not-disturb"/>
            {% elif room.status == 'S' %}
            <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/sleep.png" alt="sleep"/>
            {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  </aside>
{% endblock sidebar %}

{% block main-content %}
  {% if messages %}
  {% for msg in messages %}
    <div class="bg-green-100 p-4 sm:ml-64 border-2 border-green-500 text-green-500 rounded-lg mt-24">
      <p>{{ msg }}</p>
    </div>
  {% endfor %}
  {% endif %}

  <div class="p-4 sm:ml-64 px-18">
    <div class="bg-[#fdfaf5] p-4 px-6 border-2 border-[#fdfaf5] rounded-lg {% if messages %} mt-6 {% else %} mt-24 {% endif %}">
    
      <h1 class="text-xl font-semibold flex justify-center text-[#575042]">สวัสดี {{ request.user  }}!</h1>
      <!-- <div class="mt-2 flex justify-between px-4"><h2 class="font-semibold">ห้องแชทของคุณ</h2></div> -->
      

      <div class="mt-6 px-4">
          <p>Empty...</p>
      </div>

    </div>
  </div>
{% endblock main-content %}