{% extends 'base.html' %}
{% block title %}
  Profile Setting
{% endblock title %}

{% block main-content %}
  <div class="p-4 px-18">
    <div class="bg-[#fdfaf5] p-4 px-6 border-2 border-gray-200 rounded-lg mt-24 ">
    <h1 class="text-center text-2xl text-[#575042]">ตั้งค่าโปรไฟล์</h1>
      
      <form method="post" class="max-w-lg mx-auto mt-6 text-[#575042]">
        {% csrf_token %}
        <div class="mb-4">
          <label class="block mb-2 text-sm font-medium" for="bio">เพิ่มคำแนะนำตัว:</label>
          <input class="block w-full text-sm border border-gray-300 p-2 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" aria-describedby="bio" id="bio" type="text">
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-sm font-medium" for="image">อัปโหลดรูปภาพ:</label>
          <input class="block w-full text-sm border border-gray-300 p-2 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" aria-describedby="image" id="profile_img" type="file">
        </div>
        <button type="submit" class="w-full p-2 mt-2 mb-4 rounded bg-[#FF90BB] text-white hover:bg-pink-400">บันทีก</button>
      </form>
  </div>
  </div>
{% endblock main-content %}